body{

  background-color: #153448;

  height: 1050px;

}

h1{

  padding: 15px 15px;

  position: relative;

  top: 10px;



}



p{

  color: white;

  font-size: 13px;

  font-family: system-ui;

  font-weight: 50;

  position: relative;

  top: 10px;

  left: 15px;

  padding: 1px;

}

.p2{

  color: white;

  font-size: 13px;

  font-family: system-ui;

  font-weight: 50;

  padding-bottom: 30px;

  position: relative; 

  top: 40px;

}

.question1{

  color: white;

  font-size: 13px;

  font-family: system-ui;

  font-weight: 50;

  position: relative;

  left: 15px;

  top: 10px;



}

.question2{

  color: white;

  font-size: 13px;

  font-family: system-ui;

  font-weight: 50;

  position: relative;

  left: 15px;

  top: 70px;



}



.form{

  background-color: #215070;

  outline: none;

  font-size: 15px;

  font-weight: 500;

  color: white;

  padding: 15px 50px; 

  border-radius: 15px;

  position: relative;

  left: 15px; 

  top: 5px;   

  }

  .form:focus{

      border: 2px solid #64BEF9;

  }





  .form2{

    background-color: #215070;

    outline: none;

    font-size: 15px;

    font-weight: 500;

    color: white;

    padding: 15px 50px;

    border-radius: 15px;

    position: relative;

    left: 15px; 

    top: 60px;

    }

    .form2:focus{

        border: 2px solid #64BEF9;

    }



    .question3{

      color: white;

      font-size: 13px;

      font-family: system-ui;

      font-weight: 50;

      position: relative;

      left: 10px;

      top: 75px;

    }



input{

  position: relative;

  left: 50px;

  top: 34px;

}

label{

  position: relative;

  font-size: 13px;

  left: 75px;

  bottom: 5px;

  color: #ffffff;

  font-family: system-ui;

  font-weight: 50;



}



.button{

  background-color: #4c98ca;

  font-size: 20px;

  font-weight: 500;

  color: white;

  padding: 10px 80px;

  position: relative;

  right: 25px;

  border-radius: 13px;

  left: 60px;

}

.button:focus{

  background-color: #64BEF9;

}



h1{

  font-family: sans-serif;

   position: relative;

   left: 10px;

   font-size: 30px;

   color: #ffffff;

}



.no1 {

  background-color:#4c98ca;

  padding: 10px 20px;

  border-radius: 10px;

  font-size: 10px;

  text-decoration: none;

  font-weight: bold;

  font-family: sans-serif;

  color: #ffffff;

  position: relative;

  top: 20px;

  font-weight: 500;

  margin: 10px;

}



.no2 {

  background-color:#4c98ca;

  padding: 10px 20px;

  border-radius: 10px;

  font-size: 10px;

  text-decoration: none;

  font-weight: bold;

  font-family: sans-serif;

  color: #ffffff;

  position: relative;

  top: 60px;

  font-weight: 500;

  margin: 10px;

}



.no3 {

  background-color: #4c98ca;

  padding: 10px 20px;

  border-radius: 10px;

  font-size: 10px;

  text-decoration: none;

  font-weight: bold;

  font-family: sans-serif;

  color: #ffffff;

  position: relative;

  top: 100px;

  font-weight: 500;

  margin: 10px;

}



.no4 {

  background-color: #4c98ca;;

  padding: 10px 20px;

  border-radius: 10px;

  font-size: 10px;

  text-decoration: none;

  font-weight: bold;

  font-family: sans-serif;

  color: #ffffff;

  position: relative;

  top: 140px;

  font-weight: 500;

  margin: 10px;

}



.no5 {

  background-color: #4c98ca;

  padding: 10px 20px;

  border-radius: 10px;

  font-size: 10px;

  text-decoration: none;

  font-weight: bold;

  font-family: sans-serif;

  color: #ffffff;

  position: relative;

  top: 180px;

  font-weight: 500;

  margin: 10px;

}



.no6 {

  background-color: #4c98ca;

  padding: 10px 20px;

  border-radius: 10px;

  font-size: 10px;

  text-decoration: none;

  font-weight: bold;

  font-family: sans-serif;

  color: #ffffff;

  position: relative;

  top: 220px;

  font-weight: 500;

  margin: 10px;

}



.no7 {

  background-color: #4c98ca;

  padding: 10px 20px;

  border-radius: 10px;

  font-size: 10px;

  text-decoration: none;

  font-weight: bold;

  font-family: sans-serif;

  color: #ffffff;

  position: relative;

  top: 260px;

  font-weight: 500;

  margin: 10px;

}



.no8 {

  background-color: #4c98ca;

  padding: 10px 20px;

  border-radius: 10px;

  font-size: 10px;

  text-decoration: none;

  font-weight: bold;

  font-family: sans-serif;

  color: #ffffff;

  position: relative;

  top: 300px;

  font-weight: 500;

  margin: 10px;

}



.no9 {

  background-color: #4c98ca;

  padding: 10px 20px;

  border-radius: 10px;

  font-size: 10px;

  text-decoration: none;

  font-weight: bold;

  font-family: sans-serif;

  color: #ffffff;

  position: relative;

  top: 340px;

  font-weight: 500;

  margin: 10px;

}



.no10 {

  background-color: #4c98ca;

  padding: 10px 20px;

  border-radius: 10px;

  font-size: 10px;

  text-decoration: none;

  font-weight: bold;

  font-family: sans-serif;

  color: #ffffff;

  position: relative;

  top: 380px;

  font-weight: 500;

  margin: 10px;

}

.no11 {

  background-color:#4c98ca;

  padding: 10px 20px;

  border-radius: 10px;

  font-size: 10px;

  text-decoration: none;

  font-weight: bold;

  font-family: sans-serif;

  color: #ffffff;

  position: relative;

  top: 420px;

  font-weight: 500;

  margin: 10px;

}



.no12 {

  background-color: #4c98ca;

  padding: 10px 20px;

  border-radius: 10px;

  font-size: 10px;

  text-decoration: none;

  font-weight: bold;

  font-family: sans-serif;

  color: #ffffff;

  position: relative;

  top: 460px;

  font-weight: 500;

  margin: 10px;

}



.no13 {

  background-color: #4c98ca;

  padding: 10px 20px;

  border-radius: 10px;

  font-size: 10px;

  text-decoration: none;

  font-weight: bold;

  font-family: sans-serif;

  color: #ffffff;

  position: relative;

  top: 500px;

  font-weight: 500;

  margin: 10px;

}



.no14 {

  background-color: #4c98ca;

  padding: 10px 20px;

  border-radius: 10px;

  font-size: 10px;

  text-decoration: none;

  font-weight: bold;

  font-family: sans-serif;

  color: #ffffff;

  position: relative;

  top: 540px;

  font-weight: 500;

  margin: 10px;

}



.no15 {

  background-color: #4c98ca;

  padding: 10px 20px;

  border-radius: 10px;

  font-size: 10px;

  text-decoration: none;

  font-weight: bold;

  font-family: sans-serif;

  color: #ffffff;

  position: relative;

  top: 580px;

  font-weight: 500;

  margin: 10px;

}



.no16 {

  background-color: #4c98ca;

  padding: 10px 20px;

  border-radius: 10px;

  font-size: 10px;

  text-decoration: none;

  font-weight: bold;

  font-family: sans-serif;

  color: #ffffff;

  position: relative;

  top: 620px;

  font-weight: 500;

  margin: 10px;

}



.no17 {

  background-color: #4c98ca;

  padding: 10px 20px;

  border-radius: 10px;

  font-size: 10px;

  text-decoration: none;

  font-weight: bold;

  font-family: sans-serif;

  color: #ffffff;

  position: relative;

  top: 660px;

  font-weight: 500;

  margin: 10px;

}



.no18 {

  background-color: #4c98ca;

  padding: 10px 20px;

  border-radius: 10px;

  font-size: 10px;

  text-decoration: none;

  font-weight: bold;

  font-family: sans-serif;

  color: #ffffff;

  position: relative;

  top: 700px;

  font-weight: 500;

  margin: 10px;

}



.no19 {

  background-color: #4c98ca;

  padding: 10px 20px;

  border-radius: 10px;

  font-size: 10px;

  text-decoration: none;

  font-weight: bold;

  font-family: sans-serif;

  color: #ffffff;

  position: relative;

  top: 740px;

  font-weight: 500;

  margin: 10px;

}



.no20 {

  background-color: #4c98ca;

  padding: 10px 20px;

  border-radius: 10px;

  font-size: 10px;

  text-decoration: none;

  font-weight: bold;

  font-family: sans-serif;

  color: #ffffff;

  position: relative;

  top: 780px;

  font-weight: 500;

  margin: 10px;

}

    
