body{
  background-color: rgb(255, 255, 255);
  height: 5700px;
}
p{
  font-size: 14px;
  font-style: italic;
  font-weight: 80px;
  margin: 10px;
  position: relative;
  top: 10px;
}
h1{
  font-family: sans-serif;
   position: relative;
   left: 10px;
   font-size: 30px;
}

.no1 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 20px;
  font-weight: 500;
  margin: 10px;
}

.no2 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 60px;
  font-weight: 500;
  margin: 10px;
}

.no3 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 100px;
  font-weight: 500;
  margin: 10px;
}

.no4 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 140px;
  font-weight: 500;
  margin: 10px;
}

.no5 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 180px;
  font-weight: 500;
  margin: 10px;
}

.no6 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 220px;
  font-weight: 500;
  margin: 10px;
}

.no7 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 260px;
  font-weight: 500;
  margin: 10px;
}

.no8 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 300px;
  font-weight: 500;
  margin: 10px;
}

.no9 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 340px;
  font-weight: 500;
  margin: 10px;
}

.no10 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 380px;
  font-weight: 500;
  margin: 10px;
}
.no11 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 420px;
  font-weight: 500;
  margin: 10px;
}

.no12 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 460px;
  font-weight: 500;
  margin: 10px;
}

.no13 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 500px;
  font-weight: 500;
  margin: 10px;
}

.no14 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 540px;
  font-weight: 500;
  margin: 10px;
}

.no15 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 580px;
  font-weight: 500;
  margin: 10px;
}

.no16 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 620px;
  font-weight: 500;
  margin: 10px;
}

.no17 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 660px;
  font-weight: 500;
  margin: 10px;
}

.no18 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 700px;
  font-weight: 500;
  margin: 10px;
}

.no19 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 740px;
  font-weight: 500;
  margin: 10px;
}

.no20 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 780px;
  font-weight: 500;
  margin: 10px;
}

.no21 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 820px;
  font-weight: 500;
  margin: 10px;
}

.no22 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 860px;
  font-weight: 500;
  margin: 10px;
}

.no23 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 900px;
  font-weight: 500;
  margin: 10px;
}

.no24 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 940px;
  font-weight: 500;
  margin: 10px;
}

.no25 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 980px;
  font-weight: 500;
  margin: 10px;
}

.no26 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 1020px;
  font-weight: 500;
  margin: 10px;
}

.no27 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 1060px;
  font-weight: 500;
  margin: 10px;
}

.no28 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 1100px;
  font-weight: 500;
  margin: 10px;
}

.no29 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 1140px;
  font-weight: 500;
  margin: 10px;
}

.no30 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 1180px;
  font-weight: 500;
  margin: 10px;
}
.no31 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 1220px;
  font-weight: 500;
  margin: 10px;
}

.no32 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 1260px;
  font-weight: 500;
  margin: 10px;
}

.no33 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 1300px;
  font-weight: 500;
  margin: 10px;
}

.no34 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 1340px;
  font-weight: 500;
  margin: 10px;
}

.no35 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 1380px;
  font-weight: 500;
  margin: 10px;
}

.no36 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 1420px;
  font-weight: 500;
  margin: 10px;
}

.no37 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 1460px;
  font-weight: 500;
  margin: 10px;
}

.no38 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 1500px;
  font-weight: 500;
  margin: 10px;
}

.no39 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 1540px;
  font-weight: 500;
  margin: 10px;
}

.no40 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 1580px;
  font-weight: 500;
  margin: 10px;
}

.no41 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 1620px;
  font-weight: 500;
  margin: 10px;
}

.no42 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 1660px;
  font-weight: 500;
  margin: 10px;
}

.no43 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 1700px;
  font-weight: 500;
  margin: 10px;
}

.no44 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 1740px;
  font-weight: 500;
  margin: 10px;
}

.no45 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 1780px;
  font-weight: 500;
  margin: 10px;
}

.no46 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 1820px;
  font-weight: 500;
  margin: 10px;
}

.no47 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 1860px;
  font-weight: 500;
  margin: 10px;
}

.no48 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 1900px;
  font-weight: 500;
  margin: 10px;
}

.no49 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 1940px;
  font-weight: 500;
  margin: 10px;
}

.no50 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 1980px;
  font-weight: 500;
  margin: 10px;
}

.no51 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 2020px;
  font-weight: 500;
  margin: 10px;
}

.no52 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 2060px;
  font-weight: 500;
  margin: 10px;
}

.no53 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 2100px;
  font-weight: 500;
  margin: 10px;
}

.no54 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 2140px;
  font-weight: 500;
  margin: 10px;
}

.no55 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 2180px;
  font-weight: 500;
  margin: 10px;
}

.no56 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 2220px;
  font-weight: 500;
  margin: 10px;
}

.no57 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 2260px;
  font-weight: 500;
  margin: 10px;
}

.no58 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 2300px;
  font-weight: 500;
  margin: 10px;
}

.no59 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 2340px;
  font-weight: 500;
  margin: 10px;
}

.no60 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 2380px;
  font-weight: 500;
  margin: 10px;
}

.no61 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 2420px;
  font-weight: 500;
  margin: 10px;
}

.no62 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 2460px;
  font-weight: 500;
  margin: 10px;
}

.no63 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 2500px;
  font-weight: 500;
  margin: 10px;
}

.no64 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 2540px;
  font-weight: 500;
  margin: 10px;
}

.no65 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 2580px;
  font-weight: 500;
  margin: 10px;
}

.no66 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 2620px;
  font-weight: 500;
  margin: 10px;
}
.no67 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 2660px;
  font-weight: 500;
  margin: 10px;
}

.no68 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 2700px;
  font-weight: 500;
  margin: 10px;
}

.no69 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 2740px;
  font-weight: 500;
  margin: 10px;
}

.no70 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 2780px;
  font-weight: 500;
  margin: 10px;
}

.no71 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 2820px;
  font-weight: 500;
  margin: 10px;
}

.no72 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 2860px;
  font-weight: 500;
  margin: 10px;
}

.no73 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 2900px;
  font-weight: 500;
  margin: 10px;
}

.no74 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 2940px;
  font-weight: 500;
  margin: 10px;
}

.no75 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 2980px;
  font-weight: 500;
  margin: 10px;
}

.no76 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 3020px;
  font-weight: 500;
  margin: 10px;
}

.no77 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 3060px;
  font-weight: 500;
  margin: 10px;
}

.no78 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 3100px;
  font-weight: 500;
  margin: 10px;
}

.no79 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 3140px;
  font-weight: 500;
  margin: 10px;
}

.no80 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 3180px;
  font-weight: 500;
  margin: 10px;
}

.no81 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 3220px;
  font-weight: 500;
  margin: 10px;
}

.no82 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 3260px;
  font-weight: 500;
  margin: 10px;
}

.no83 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 3300px;
  font-weight: 500;
  margin: 10px;
}

.no84 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 3340px;
  font-weight: 500;
  margin: 10px;
}

.no85 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 3380px;
  font-weight: 500;
  margin: 10px;
}

.no86 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 3420px;
  font-weight: 500;
  margin: 10px;
}
.no87 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 3460px;
  font-weight: 500;
  margin: 10px;
}

.no88 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 3500px;
  font-weight: 500;
  margin: 10px;
}

.no89 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 3540px;
  font-weight: 500;
  margin: 10px;
}

.no90 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 3580px;
  font-weight: 500;
  margin: 10px;
}

.no91 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 3620px;
  font-weight: 500;
  margin: 10px;
}

.no92 {
  background-color: rgba(250, 171, 60, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 3660px;
  font-weight: 500;
  margin: 10px;
}


.no93 {
  background-color: rgba(0, 255, 55, 0.459);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
  position: relative;
  top: 3700px;
  left: 80px;
  font-weight: 500;
  margin: 10px;
}




